@import "common/sass/_variables";

.PlanningComponent {
  padding: 1em;
  &__title {
    font-size: 2em;
    color: $color-primary;
    font-weight: bold;
  }

  &__subtitle {
    color: $color-black1;
  }

  &__missions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .MissionItem {
      background-repeat: no-repeat;
      background-size: cover;
    }

    .MissionItem:nth-child(1) {
      background: url("/images/overlays/overlay-purple.svg");
    }
    .MissionItem:nth-child(2) {
      background: url("/images/overlays/overlay-blue.svg");
    }
    .MissionItem:nth-child(3) {
      background: url("/images/overlays/overlay-green.svg");
    }
    .MissionItem:nth-child(4) {
      background: url("/images/overlays/overlay-yellow.svg");
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1em;
  }
}
