@import "../../common/sass/variables";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.toolbar-right {
  width: 12rem;
}
.main-recap-quizz {
  .main-entete {
    .titre {
      img {
        max-height: 2.25rem;
      }
    }

    .sep {
      p {
        width: 1px;
        height: 75%;
        margin: 0;
        background-color: $color-primary-light;
        opacity: 0.6;
      }
    }
    .total-xp,
    .total-point {
      padding-left: 1.75rem;
    }

    .total-xp {
      background: url("/images/icone/coin.png") no-repeat top left;
      background-size: contain;
    }
    .total-point {
      background: url("/images/icone/cup.png") no-repeat top left;
      background-size: contain;
    }
  }
  .question.recap {
    .p-result {
      font-size: 1.05em;
    }
    .list-group-item:not(.active-reponse),
    .item-reponse {
      opacity: 0.7;
    }
    .list-group-item.active-reponse-ok,
    .item-reponse.active-reponse-ok {
      opacity: 1;
      background: none;
      border: solid 1px $color-green;
      color: initial;
      .num_reponse{
        border: solid 1px $color-green;
      }
    }
    .list-group-item.active-reponse {
      .order {
        font-style: italic;
        font-size: .9em;
      }
    }
    .list-group-item.active-reponse-ko {
      background: none;
      border: solid 1px $color-pink;
    }
  }
  .question.recap.valid {
    .p-result {
      color: $color-green;
    }
    .list-group-item.active,
    .item-reponse.active {
      opacity: 1;
      background: none;
      border: solid 1px $color-green;
      color: initial;
      .num_reponse {
        border: solid 1px $color-green;
      }
    }
  }
  .question.recap.invalid {
    .p-result {
      color: $color-pink;
    }
    .list-group-item.active:not(.active-reponse-ok),
    .item-reponse.active:not(.active-reponse-ok) {
      opacity: 1;
      background: none;
      border: solid 1px $color-pink;
      color: initial;
      .num_reponse {
        border: solid 1px $color-pink;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .main-recap-quizz {
    .question.recap {
      .intitule {
        background: $color-primary-light;
        border-radius: 0.75rem;
        color: $color-white1;
        padding: 0.75rem 1rem;
        h5 {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}
