@import "common/sass/_variables";
@import "common/sass/_typography";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.BonusEXP {
  &__container {
    border-radius: 15px;
    background: url("/images/overlays/overlay-purple.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__img {
      display: flex;

      &__first {
        position: absolute;
        transform: translate(-50%, 25%) scale(0.7);
      }

      &__second {
        position: absolute;
        transform: translate(40%, -15%) scale(1.2);
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;

      &__bonus {
        @include typo-title-component;
        font-weight: bold;
        color: $color-white1;
        .val {
          font-size: 2.75rem;
        }
      }

      &__text {
        @include typo-body-component;
        color: $color-white1;
        font-size: 1.1em;
        @include media-breakpoint-up(md) {
          font-size: 0.9em;
          text-align: center;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .BonusEXP__container__content {
    align-items: center;
  }

  .BonusEXP__container__content__text {
    font-size: 0.9em;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .BonusEXP__container__content {
    align-items: center;
  }

  .BonusEXP__container__content__text {
    font-size: 0.9em;
    text-align: center;
  }
}
