@import "common/sass/_variables";

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

.Emailing {
  &__header {
    &__title {
      font-weight: bold;
      color: $color-primary;
    }
  }

  &__body {
    &__selector {
      display: flex;

      .dropdown-toggle {
        @include box-shadow-app;
        background-color: $color-white1;
        color: $color-primary;
        border: none;
        border-radius: 15px;

        &:after {
          margin-left: 1em !important;
          vertical-align: 0em;
          content: "∨";
          border-left: 1px solid;
          padding-left: 0.3em;
          font-size: 1.2em;
        }

        #{$a-tags} {
          background-color: initial !important;
          color: initial !important;
          outline: none !important;
          box-shadow: none;
        }
      }
    }
  }
}
