@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.menu {
    background: #fff;
    border-radius: 0 1rem 1rem 0;
    -webkit-box-shadow: 5px 0px 30px -15px rgba(123, 131, 235, 1);
    -moz-box-shadow: 5px 0px 30px -15px rgba(123, 131, 235, 1);
    box-shadow: 5px 0px 30px -15px rgba(123, 131, 235, 1);
}

@include media-breakpoint-up(md) {
    .menu {
        height: 100%;
    }
}
