.Landing {
  width: 100%;

  &__withbackground {
    width: 100%;
    background: url("/images/backgrounds/landing-background1.svg");
    background-repeat: no-repeat;
    background-size: cover;

    &__body {
      position: absolute;
      transform: translateY(60%);
    }
  }
}
