.Landing {
  width: 100%;
  background: url('/images/backgrounds/landing-background0.svg');
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    width: 100%;
    background: url('/images/backgrounds/landing-background1.svg');
    background-repeat: no-repeat;
    background-size: cover;

    &__body{
      position: absolute;
      transform: translateY(60%);
    }
  }
}