body {
    .flex-1 {
        flex: 1;
    }
    .flex-grow-3 {
        flex-grow: 3;
    }
    
    .h1,
    h1 {
        font-size: 1.75rem;
    }
    .h2,
    h2 {
        font-size: 1.5rem;
    }
    .h3,
    h3 {
        font-size: 1.25rem;
    }
    .h4,
    h4 {
        font-size: 1.125rem;
    }
    .h5,
    h5 {
        font-size: 1rem;
    }
    .h6,
    h6 {
        font-size: 0.9rem;
    }
    
    .color-primary {
        color: $color-primary;
    }
    .color-primary-light {
        color: $color-primary-light;
    }
    .color-white1 {
        color: $color-white1;
    }
    .color-white2 {
        color: $color-white2;
    }
    .color-black1 {
        color: $color-black1;
    }
    .color-black2 {
        color: $color-black2;
    }
    .color-yellow {
        color: $color-yellow;
    }
    .color-green {
        color: $color-green;
    }
    .color-pink {
        color: $color-pink;
    }

    .btn {
        padding: .75rem 1.75rem;
        border-radius: .75rem;
        font-weight: bold;
    }
    .btn.btn-primary {
        background-color: $color-primary;
        border-color: $color-primary;
    }
    .btn.btn-secondary {
        background-color: $color-black2;
        border-color: $color-black2;
    }
    .pointer {
        cursor: pointer;
    }

    .p-sep {
        width: 60%;
        margin: 1.5rem auto;
        padding: 0;
        height: 1px;
        background-color: $color-primary-light;
        opacity: .4;
    }
}
