@import "common/sass/typography";
@import "common/sass/variables";

.Avatars {
  background: url("/images/overlays/overlay-blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  margin: 3em;
  padding: 2em;

  &__title {
    @include typo-heading;
    color: $color-white1;
  }

  &__subtitle {
    @include typo-title;
    color: $color-white1;
    font-size: 1.2em;
  }

  &__body {
    &__title {
      @include typo-body;
      color: $color-primary;
      text-align: center;
      font-weight: bold;
    }

    &__subtitle {
      @include typo-body;
      color: $color-white1;
      text-align: center;
      font-size: 1.2em;
    }

    &__list {
      display: inline-flex;
      width: 100%;
      align-items: center;
      margin: 0.5em;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
