@import "../../../../common/sass/typography";
@import "../../../../common/sass/variables";
@import "../../../../common/sass/media-queries";

.CGU {
  width: 50%;
  @include MQ(XS) {
    width: 100%;
  }
  &__logo {
    @include MQ(XS) {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-top: 4em;

      img {
        height: 3em;
        object-fit: contain;
      }
    }
  }

  &__container {
    background: url("/images/overlays/overlay-blue.jpg") center center fixed;
    background-size: cover;

    border-radius: 15px;

    &__title {
      @include typo-subtitle;
      color: $color-white1;
      line-height: normal;
      font-size: 1.8em;

      @include MQ(XS) {
        font-size: 1.2em;
        font-weight: bold;
      }
    }

    &__body {
      @include typo-body;
      height: 12rem;
      font-size: 1em;
      overflow-y: scroll;
      color: $color-white1;

      @include MQ(XS) {
        font-size: 0.9em;
      }
    }

    &__form {
      color: $color-white1;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__mobile {
      &--actions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
