@import "common/sass/typography";
@import "common/sass/variables";

.Description {
  color: $color-white1;
  position: absolute;
  top: 25%;
  left: 15%;

  &__logo {
  }

  &__body {
    margin-top: 2em;

    &__elt {
      display: inline-flex;
      align-items: center;
      justify-content: left;
      height: 3em;
      margin-bottom: 1em;
      width: 100%;

      & b {
        // translated texts
        margin: 0.3em;
      }

      &__img {
        height: 3em;
        margin-right: 2em;

        & > img {
          object-fit: contain;
          height: 100%;
        }
      }

      &__text {
        @include typo-body;
        font-size: 1.3em;
      }
    }
  }
}
