@import "../../../../common/sass/typography";
@import "../../../../common/sass/variables";
@import "../../../../common/sass/media-queries";

.Welcome {
  color: $color-white1;

  &__logo {
    height: 3em;
    @include MQ(XS) {
      img {
        object-fit: contain;
        max-width: 100%;
      }
    }
  }

  &__body {
    white-space: pre-line;

    @include MQ(XS) {
      font-weight: lighter;
    }
  }

  .btn {
    width: fit-content;
    @include MQ(XS) {
      width: 100%;
    }
  }
}
