@import "common/sass/typography";
@import "common/sass/variables";

.Welcome {
  color: $color-white1;
  position: absolute;
  top: 30%;


  &>span {
    display: block;
  }

  &__heading {
    @include typo-heading;
  }

  &__logo {
    line-height: 1em;
    margin-top: 2em;
  }

  &__body {
    @include typo-body;
    margin-top: 2em;
    line-height: 1em;
    white-space: pre-line;
  }

  &__button {
    margin-top: 2em;
  }
}