@import "common/sass/_variables";

.Admin {
  &__tools {
    background-color: $color-white1;
    border-radius: 15px;
    height: 9em;
    width: 100%;

    display: inline-flex;
    align-items: center;

    &__image {
      width: 30%;
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center;

      &img {
        width: 100%;
        height: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 60%;

      &__title {
        color: $color-primary;
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }

  &__sub__block {
    display: inline-flex;
    flex-direction: row;
    margin-top: 1.5rem;
    width: 100%;

    &__left {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 20rem;
      margin-right: 1.5em;
    }

    &__right {
      width: 40%;
      height: 20rem;
    }
  }
}

.no-underline-on-hover {
  &:hover,
  &:visited {
    text-decoration: none;
    color: initial;
  }
}
