/****
COLORS
*****/
$color-primary: #424BB0;
$color-primary-light: #7B83EB;
$color-white1: #FFF;
$color-white2: #F1F0EF;
$color-black1: #010101;
$color-black2: #414141;
$color-yellow: #F1B446;
$color-green: #5DB87C;
$color-pink: #CC496F;