@import "../../common/sass/variables";
@import "../../common/sass/common";

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-black1;

  .main-container.gradient {
    background: rgb(244, 244, 255);
    background: linear-gradient(180deg, rgba(244, 244, 255, 1) 0%, rgba(218, 216, 240, 1) 100%);
  }
  .main-container {
    background: url("/images/fond_principal.jpg") no-repeat top left;
    background-size: cover;
    .main-content {
      min-height: 100%;
      height: fit-content;
    }
    .main-encart {
      background: #fff;
      border-radius: 1rem;
      -webkit-box-shadow: 0px 0px 25px -5px rgba(123, 131, 235, 0.4);
      -moz-box-shadow: 0px 0px 25px -5px rgba(123, 131, 235, 0.4);
      box-shadow: 0px 0px 25px -5px rgba(123, 131, 235, 0.4);
      padding: 1.25rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  /*** modal ***/
  .modal-dialog {
    .modal-content {
      padding: 1rem;
      background: #fff;
      .modal-header {
        border: none;
      }
      .modal-footer {
        border: none;
      }
    }
  }
  .modal-backdrop {
    background: $color-primary-light;
    backdrop-filter: blur(4px);
  }
  /*** fin modal ***/

  /*** tooltip ***/
  .tooltip {
    .tooltip-inner {
      background: $color-primary-light;
      padding: 0.75rem;
      text-align: left;
      max-width: 500px;
    }
  }
  .tooltip.show {
    opacity: 1;
  }
  .tooltip.bs-tooltip-top {
    .arrow::before {
      border-top-color: $color-primary-light;
    }
  }
  .tooltip.bs-tooltip-right {
    .arrow::before {
      border-right-color: $color-primary-light;
    }
  }
  .tooltip.bs-tooltip-bottom {
    .arrow::before {
      border-bottom-color: $color-primary-light;
    }
  }
  .tooltip.bs-tooltip-left {
    .arrow::before {
      border-left-color: $color-primary-light;
    }
  }
  /*** fin tooltip ***/
}

@include media-breakpoint-down(md) {
  body {
    .nobg-mobile {
      background: none !important;
      box-shadow: none !important;
    }
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: .85rem !important;
    line-height: 1.35;
  }
}
